body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[textarea]:placeholder {
  color: white;
}

/* PageLayout */

.app {
  background: #123456;
  height: 100vh;
}

.app .title {
  color: white;
}

button.button {
  background: rgb(28, 148, 102);
  color: #222;
  border: #222;
}

button.button:hover {
  opacity:0.6;
}

/* sourceDisplay */
.sourceDisplay {
  margin-bottom: 10px;
}

.sourceDisplay > .box,
.sourceDisplay .textarea {
  background: #222;
  color: white;
}

/* sourceDisplay */ 

.inputDisplay > .box,
.inputDisplay .textarea {
  background: #222;
  color: white;
}

.result-display,
.timer-display {
  color: white;
}


