body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-input-placeholder {
  color: white;
}

/* PageLayout */

.app {
  background: #222;
  height: 100vh;
}

.app .title {
  color: white;
}

button.button {
  background: rgb(28, 148, 102);
  color: #222;
  border: #222;
}

button.button:hover {
  opacity:0.6;
}

/* sourceDisplay */
.sourceDisplay {
  margin-bottom: 10px;
}

.sourceDisplay > .box,
.sourceDisplay .textarea {
  background: #222;
  color: white;
}

/* inputDisplay */ 

.inputDisplay > .box,
.inputDisplay .textarea {
  background: #222;
  color: white;
}

.inputDisplay[disabled="true"] {
  background: rgb(28, 148, 102);
  color: #222;
}

/* .timer */
.result-display,
.timer-display {
  color: white;
  display: inline-block;
}

.timer-display.pulse {
  animation: bulge 1s infinite;
  animation-delay: 0.6s;
}

.result-display.boing {
  color: rgb(28, 148, 102);
  animation: 0.4s bulge;
}

@keyframes bulge {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


